{% extends 'base.html.twig' %}

{% block title %}Testimony index{% endblock %}

{% block body %}
    <h1>Testimony index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for testimony in testimonies %}
            <tr>
                <td>{{ testimony.id }}</td>
                <td>{{ testimony.content }}</td>
                <td>{{ testimony.date ? testimony.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_testimony_show', {'id': testimony.id}) }}">show</a>
                    <a href="{{ path('app_testimony_edit', {'id': testimony.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_testimony_new') }}">Create new</a>
{% endblock %}
