{% extends 'base.html.twig' %}

{% block title %}Testimony{% endblock %}

{% block body %}
    <h1>Testimony</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ testimony.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ testimony.content }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ testimony.date ? testimony.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_testimony_index') }}">back to list</a>

    <a href="{{ path('app_testimony_edit', {'id': testimony.id}) }}">edit</a>

    {{ include('testimony/_delete_form.html.twig') }}
{% endblock %}
